@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
  
  .font-title {
    font-family: 'Cinzel', serif;
  }
}

@layer utilities {
  .p-6 {
    padding: 0 !important;
  }
}